.cart-image {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  object-fit: cover;
}

.checkout-image {
  width: 45px;
  height: 45px;
  border-radius: 8px;
  object-fit: cover;
}

.checkout-item {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}